@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,900');
body, html {
    margin: 0;
    height: 100%;
    font-family: 'Raleway', Arial, sans-serif;
    color: #262626;
}
header {
    background: url("images/header_bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 678px;
    position: relative;
}
header:after {
    display: block;
    content: '';
    clear: both;
}
.container {
    max-width: 1200px;
    min-width: 790px;
    margin: 0 auto;
}
p {
    margin: 0;
}
.logo {
    font-family: 'Pacifico', 'cursive';
    font-size: 50px;
    padding: 32px 0 0 15px;
    display: inline-block;
}
a {
    text-decoration: none;
}
.menu {
    padding-top: 65px;
    float: right;
}
.menu a {
    font-family: 'Raleway', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin: 0 15px;
    padding-top: 8px;
    color: #262626;
}
.menu a:hover {
    border-top: 3px solid red;
}
.row {
    display: flex;
}
.row > div {
    padding: 15px;
}
.col-1 {
    width: 8.33%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
header div .row {
    padding-top: 11%;
}
header .slogan {
    letter-spacing: initial;
    font-size: 61px;
}
.slogan {
    font-weight: 700;
    font-size: 88px;
    letter-spacing: 1px;
    margin-bottom: 20px
}
.heavy_font {
    font-weight: 900;
}
.description {
    margin: 20px 0;
    font-size: 17px;
    line-height: 25px;
}
.get_free {
    text-align: center;
    width: 200px;
    height: 55px;
    background: #FF6033;
    color: white;
    font-size: 20px;
    font-weight: 300;
    box-sizing: border-box;
    padding-top: 12px;
    box-shadow: -2px 2px 10px 1px rgba(38, 38, 38, 0.49);
}
.scroll img {
    position: absolute;
    left: 50%;
    bottom: 5%;
}
.about_us {
    background: url("images/aboutus_bg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 100px 0;
}
.our_services {
    background: url("images/ourservices_bg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    box-sizing: border-box;
    padding: 100px 0;
}
.our_services .container {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 12%;
}
a .shop_menu {
    width: 400px;
    height: 100px;
    background: white;
    color:#262626;
    box-sizing: border-box;
    padding: 0 ;
    display: flex;
    align-items: center;
    margin: 15px;
    box-shadow: -2px 2px 10px 1px #60606E;
}
.shop_menu p {
    display: inline-block;
    text-align: center;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 300px;
}
.line {
    display: inline-block;
    background: #9D9D9D;
    width: 2px;
    height: 100%;
}
.shop_menu img {
    padding-left: 20px;
}
.our_services div .slogan {
    padding-left: 10%;
}
.gallery {
    text-align: center;
    background: #FFE92F;
    color: #262626;
    box-sizing: border-box;
    padding: 100px 0;
    overflow-x: hidden;
}
.gallery .description {
    padding: 0 250px;
}
.gal_pics {
    font-size: 0;
    text-align: left;
    min-width: 1200px;
}
.gal_pics img {
    margin: 15px;
    box-shadow: -1px 1px 10px 1px #2d2d35;
}
.gal_pics img:nth-of-type(1) {
    float: left;
}
.view_button {
    display: block;
    margin: 100px auto 0;
    width: 200px;
    height: 55px;
    background: #5585A2;
    color: white;
    box-sizing: border-box;
    padding-top: 12px;
    font-size: 24px;
    box-shadow: -1px 1px 10px 1px rgba(45, 45, 53, 0.6);
}
.subscribe {
    background: url("images/subscribe_bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 100px 0;

}
.subscribe .description {
    padding-right: 500px;
}
.email_form {
    width: 570px;
    height: 55px;
    border: 1px solid black;
    padding-left: 25px;
    box-sizing: border-box;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #929292;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #929292;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #929292;
}
:-moz-placeholder { /* Firefox 18- */
    color: #929292;
}
button {
    width: 170px;
    height: 57px;
    background: #94B72B;
    border: none;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
    margin: 50px;
    box-shadow: -1px 1px 10px 1px rgba(45, 45, 53, 0.6);
}
.blog {
    background: #B07CF7;
    box-sizing: border-box;
    padding: 100px 0;
    text-align: center;
    color: white;
    position: relative;
}
.blog .description {
    padding: 0 300px;
}
.blog_img {
    display: inline-block;
    width: 340px;
    height: 290px;
    margin: 15px;
    position: relative;
}
.blog_img img {
    width: 100%;
    height: 100%;
    box-shadow: -1px 1px 10px 1px #2d2d35;
}
.date {
    display: inline-block;
    font-weight: 900;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.43);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    position: absolute;
    margin: 30px;
}
.date p:first-of-type {
    font-size: 28px;
    font-weight: 700;
}
.blog_item-text {
    text-align: left;
    margin: 30px;
    position: absolute;
    bottom: 0;
    font-size: 20px;
    font-weight: 700;
}
.blog_item-text p:last-of-type {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
}
.blog div .view_button {
    background: #F72B3B;
}
.contact {
    background: url("images/contact_bg.jpg");
    background-size: cover;
    background-position: center;
    height: 750px;
    padding: 100px 0;
    text-align: center;
}
.contact .description {
    padding: 0 400px;
}
.contact div form {
    margin: 15px;
    float: left;
}
.contact div form input {
    display: block;
    width: 500px;
    height: 50px;
    background: rgba(0, 196, 196, 0.5);
    border: none;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding-left: 15px;
    color: white;
    font-size: 16px;
    font-weight: 300;
}
.contact div form input:focus,
textarea:focus {
    background: rgb(0, 196, 196);
    outline: none;
    border-left: 4px solid #355B82;
    padding-left: 11px;
    font-weight: 700;
}
textarea {
    display: block;
    width: 496px;
    height: 250px;
    background: rgba(0, 196, 196, 0.5);
    border: none;
    margin-bottom: 15px;
    resize: none;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 15px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: white;
}

.contact ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
    font-weight: 300;
    font-family: 'Raleway', Arial, sans-serif;
}
.contact ::-moz-placeholder { /* Firefox 19+ */
    color: white;
    font-weight: 300;
    font-family: 'Raleway', Arial, sans-serif;
}
.contact :-ms-input-placeholder { /* IE 10+ */
    color: white;
    font-weight: 300;
    font-family: 'Raleway', Arial, sans-serif;
}
.contact :-moz-placeholder { /* Firefox 18- */
    color: white;
    font-weight: 300;
    font-family: 'Raleway', Arial, sans-serif;
}
.contact_info {
    display: inline-block;
    width: 300px;
    text-align: left;
    margin: 15px;
    line-height: 25px;
    font-size: 18px;
}
.contact_info p:nth-of-type(odd) {
    font-weight: 700;
}
.contact_info p:nth-of-type(2n +3) {
    margin-top: 12px;
}
footer {
    height: 90px;
    background: #262626;
    color: #B9B9B9;
}
footer .container {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;

}
footer .container p {
    display: inline-block;
}
footer .container p:nth-of-type(2) {
    font-family: 'Pacifico', Arial, sans-serif;
    font-size: 28px;
}
footer .container p:first-of-type,
footer .container p:last-of-type {
    margin: 15px;
}
.red {
    color: #FF2B58;
    font-weight: 700;
}