@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Playfair+Display");
html, body {
  margin: 0;
  background: black; }

header {
  height: 80px; }
  header .container {
    width: 1200px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between; }
    header .container .site-name {
      font-family: 'Open Sans', Arial, sans-serif;
      font-size: 14px;
      font-weight: 600; }
    header .container .menu {
      margin-top: 13px; }
      header .container .menu a {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: white;
        text-decoration: none;
        margin-right: 30px; }
        header .container .menu a:hover {
          text-decoration: underline; }
      header .container .menu a:last-of-type {
        margin-right: 0; }

main {
  color: white; }
  main .container {
    width: 1200px;
    margin: 0 auto;
    color: white; }
    main .container .main-slider {
      padding-top: 50px;
      position: relative; }
      main .container .main-slider .slide-item h2 {
        font-family: 'Playfair Display', serif;
        font-size: 60px;
        text-align: center;
        letter-spacing: 8px; }
      main .container .main-slider .slide-item .description {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 25px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 50px; }
      main .container .main-slider .slide-item .button {
        display: block;
        margin: 0 auto;
        color: white;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 18px;
        font-weight: 400;
        background: #EECD31;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        padding-top: 16px;
        width: 134px;
        height: 57px;
        box-sizing: border-box;
        position: relative; }
      main .container .main-slider .slide-item .button:before {
        content: '';
        position: absolute;
        top: 0;
        left: -25px;
        width: 25px;
        height: 57px;
        background: #EECD31;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px; }
      main .container .main-slider .slide-item .button:after {
        content: '';
        position: absolute;
        top: 0;
        right: -25px;
        width: 25px;
        height: 57px;
        background: #EECD31;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px; }
      main .container .main-slider .slide-item .button:hover,
      main .container .main-slider .slide-item .button:hover::before,
      main .container .main-slider .slide-item .button:hover::after {
        background: white;
        color: #EECD31; }
      main .container .main-slider .prev {
        position: absolute;
        top: 240px;
        left: -10px;
        display: inline-block;
        width: 30px;
        height: 30px;
        border-left: 3px solid white;
        border-bottom: 3px solid white;
        transform: rotate(45deg);
        cursor: pointer; }
      main .container .main-slider .next {
        position: absolute;
        top: 240px;
        right: -10px;
        display: inline-block;
        width: 30px;
        height: 30px;
        border-right: 3px solid white;
        border-bottom: 3px solid white;
        transform: rotate(-45deg);
        cursor: pointer; }
      main .container .main-slider .dots {
        margin-top: 45px;
        padding: 0;
        text-align: center; }
        main .container .main-slider .dots button {
          visibility: hidden; }
        main .container .main-slider .dots li {
          display: inline-block;
          margin: 12px;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          background: rgba(255, 255, 255, 0.49); }
          main .container .main-slider .dots li.slick-active {
            background: white; }

/*# sourceMappingURL=style.css.map */
