@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@font-face {
    font-family: 'bebas_neuebold';
    src: url('fonts/bebasneue_bold-webfont.woff2') format('woff2'),
    url('fonts/bebasneue_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/bebasneue_regular-webfont.woff2') format('woff2'),
    url('fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuethin';
    src: url('fonts/bebasneue_thin-webfont.woff2') format('woff2'),
    url('fonts/bebasneue_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body, html {
    margin: 0;
    background: #9789F9;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    margin: 15px;
    position: relative;
}
.item {
    overflow: hidden;
    width: 326px;
    height: 611px;
    background: linear-gradient(to bottom, rgb(244,244,244) 50%,rgb(255,255,255) 50%);
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center {
    width: 370px;
    height: 691px;
}
.item:after {
    content: '';
    left: -87px;
    top: 170px;
    position: absolute;
    display: block;
    background: white;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
.center:after {
    top: 150px;
    left: -65px;
}
.price {

}
